[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ApCoCoA
Icon=/home/florian/cocoa/apcocoa/icon.xpm
Exec=/home/florian/cocoa/apcocoa/ApCoCoA
Terminal=false
